Trash/
telepathy
review/for-review
*__pycache__*
*.jl
*.csv
*.jsonl
*.m4a
scrapers/logs
scrapers/data
tree.html
doccano/data
*.ipynb_checkpo*
environment
datafun
Spain_datadump
doccano/pilotdata
po-token
doccano_OLD/data
ffmpeg*
_-E4ttc-gJs.json
